<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Communiti-Ask a question</title>
    <style>
        .jumbotron{
            text-align: center;
            height: 100%;
            margin-top: 7%;
        }
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        textarea{
            width: 100%;
        }
    </style>    
</head>

  <body>
      {{name}}
    <div class="col-md-6 col-md-push-3 container jumbotron">
        <img src="/images/avatar2.png">
        <h2>Communiti-Ask Question</h2><hr>
        <form method="post">
            <textarea placeholder="Enter your question" class="form-control"></textarea><br>
            <input type="text" class="form-control" placeholder="Add tags"><br>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
  </body>
</html>
