<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Communiti</title>
    <style>
        .jumbotron{
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class= "container">
        <div class="page-header">
            <h1>Communiti-The Social Network</h1>
        </div>
        <div class="jumbotron">
            <h1> Interact, learn and grow!</h1>
            <a href="login.html" type="button" class="btn btn-default btn-primary btn-lg">Login</a>
            <a href="signup.html" type="button" class="btn btn-default btn-danger btn-lg">Sign Up</a>
        </div>
    </div>
    <div class= "container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h1>About</h1>
                <div>
                    Communiti is made for the people to interact in such a way that can affect their life positively.
                    Extraordinary Communication is the main part of this Website.
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h1>Bingo!</h1>
                <div>
                    Communiti is responsible for your data. We will never sell your data for money. 
                    It is guarranteed that your data will be safe here.
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h1>Why?</h1>
                    <div>
                        It is very difficult for college people to publicize their cultural or technical events and
                        shows. That's why we made this website for bla bla bla.
                    </div>
                </div>
        </div>
    </div>

















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>